<div class="accordion accordion-flush border border-5" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{section.name}}
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
         data-bs-parent="#accordionFlushExample">
      <div class="accordion-body row gap-5">
        <div>
          <h2>Liste des ressources</h2>
          <ng-container *ngIf="section.resources.length > 0 else noResources">
            <div class="d-flex align-items-center justify-content-center" *ngFor="let resource of section.resources">
              <div
                class="item d-flex gap-4 gap-md-0 align-items-center justify-content-center flex-column flex-lg-row col-8 col-12 my-2 gap-0 gap-md-2">
                <div class="filename">
                  <p>{{resource.name}}</p>
                </div>
                <a [routerLink]="['/resource',resource.id]" class="btn"><i
                  class="text-white  fw-bold m-0 fa fa-download me-2"></i>Voir</a>
              </div>
            </div>
          </ng-container>
          <ng-template #noResources>
            <p class="text-center">Aucune Ressources pour ce cours</p>
          </ng-template>
          <button *ngIf="isProf" class="btn btn-success" [routerLink]="['/resource',section.id,'create']">Créer une nouvelle
            ressource
          </button>
        </div>
        <div>
          <h2>Liste des fichiers: </h2>
          <ng-container *ngIf="section.files.length > 0 else noFiles">
            <div class="d-flex align-items-center justify-content-center" *ngFor="let file of section.files">
              <div
                class="item d-flex gap-4 gap-md-0 align-items-center justify-content-center flex-column flex-lg-row col-8 col-12 my-2 gap-0 gap-md-2">
                <i class="text-dark fw-bold m-0 h4" [ngClass]="this.fileService.getFontAwesomeIconClass(file.type)"></i>
                <div class="filename">
                  <p>{{file.name}}</p>
                  <div class="filedata text-center">
                    <span>{{this.fileService.octetsToMegaoctets(file.size)}} MB</span>
                  </div>
                </div>
                <a href="{{file.path}}" class="btn"><i class="text-white  fw-bold m-0 fa fa-download me-2"></i>Download</a>
                <button *ngIf="isProf" (click)="deleteFile(file.id)" class="btn btn-danger"><i
                  class="text-white fw-bold m-0 fa fa-trash"></i></button>
              </div>
            </div>
          </ng-container>
          <ng-template #noFiles>
            <p class="text-center">Aucun fichier pour ce cours</p>
          </ng-template>
          <div style="max-width: 400px" class="m-auto my-5" *ngIf="isProf">
            <label for="selective">Choisir un fichier :</label>
            <div class="input-group">
              <input id="selective" class="form-control" type="file" (change)="onFileSelected($event)" #fileInput>
              <button class="btn btn-success" (click)="uploadFile()" [disabled]="!selectedFile">Envoyer</button>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
