<div class="container">
  <h1 class="text-center">Liste des modules :</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-5">
    <ng-container *ngIf="modules != []  else ModulesNotFound">
      <div *ngFor="let module of modules" class="col">
        <div class="d-flex justify-content-center align-items-center bg-white p-4 border flex-column rounded">
          <div>
            <h5>{{module.name}}</h5>
          </div>
          <div>
            <a [routerLink]="['/module',module.id]" class="btn btn-success">{{module.name}}</a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #ModulesNotFound>
      <div class="flex align-items-center justify-content-center m-auto text-center">
        <h5 class="text-danger">Aucun module n'a été trouvé</h5>
      </div>
    </ng-template>
  </div>
</div>
