<div *ngIf="qcm" class="container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <h1>{{qcm.name}}</h1>
    <p>Ouvert : {{qcm.isOpen}}</p>
    <button (click)="changeState()" class="btn btn-success" *ngIf="!qcm.isOpen || (qcm.isOpen && !qcm.isFinished)">
      {{ !qcm.isOpen ? 'Ouvrir le QCM' : 'Fermer le QCM' }}
    </button>
  </div>

    <h2 class="mt-5 text-center">Liste des questions</h2>
    <div class="row row-cols-1 g-5 p-5" *ngIf="qcm.questions?.length != 0 else noQuestions">
      <div *ngFor="let question of qcm.questions" class="list-of-questions border  gap-4 col d-flex p-5  align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center gap-4">
          <h6 class="fw-bold">Question : </h6>
          <p>{{question.questionText}}</p>
        </div>
        <div class="separator-vertical">



        </div>
        <div class="d-flex align-items-center justify-content-center gap-">
          <h6 class="fw-bold">Options :</h6>
          <ul *ngFor="let option of question.options">
            <li>{{option}}</li>
          </ul>
        </div>
      </div>

    </div>
  <ng-template #noQuestions>
    <p class="text-muted text-center">Aucune question disponible.</p>
  </ng-template>
  <div class="align-items-center justify-content-center d-flex mt-2">
    <button *ngIf="!qcm.isOpen && !qcm.isFinished" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addQuestionModal">Ajouter une question</button>
  </div>


  <div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addQuestionModalLabel">Ajouter une question</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="questionText">Question</label>
              <input type="text" id="questionText" formControlName="questionText" class="form-control" required>
            </div>

            <div class="form-group mb-3">
              <label for="correctOption">Bonne réponse</label>
              <input type="text" id="correctOption" formControlName="correctOption" class="form-control" required>
            </div>

            <div class="form-group mb-3" formArrayName="options">
              <label>Options</label>
              <div class="input-group mb-3" *ngFor="let option of options.controls; let i = index;">
                <input type="text" [formControlName]="i" class="form-control" required>
                <button type="button" class="btn btn-danger ms-2" (click)="removeOption(i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
              <button type="button" class="btn btn-outline-success mt-2" (click)="addOption()">
                <i class="fas fa-plus"></i> Ajouter une option
              </button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button [disabled]="questionForm.invalid" type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistrer</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
