@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
  // font-family: 'Montserrat', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
html{
  height: 100%;
  min-height: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  margin:0;
  min-height: 100vh;
}


.green-snackbar {
  background: rgb(65, 252, 134)!important;
  color: white;
}

.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white !important;
  border: none;
}

.red-snackbar {
  background: #F44336;
  color: white;
  position: fixed;
}

.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}
